<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h1><%= form_title %></h1>

      <%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre del producto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :price, class: "form-control input-lg", placeholder: "Precio del producto" %>
        </div>



        <div class="field">
          <%= f.label "Area of Expertise" %><br />
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
            <div class="collection-check-box">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
        <div>
          <%= f.submit form_title,  class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>