<div class="container">

	<h1>PRODUCTS</h1>
  	<div class="row">

  	<div class="text-right">
                <%= link_to "Agregar Producto", new_product_path, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-10 col-sm-offset-1">


    	<table class= "table">

    		<thead>

    			<tr>
    				<th>Nombre</th>
    				<th>Precio</th>
    				<th>Categoria</th>
    				<th>Acciones</th>
    			</tr>
    			

    		</thead>


    		<tbody>

    			<% @products.each do |product|%>

    			<tr>
    				<td><%= product.name %></td>
    				<td><%= product.price %></td>


                          
    				 <td>
                            <% product.categories.each do |category| %>
                                <% if category == product.categories.last %>
                                    <%= category.name %>
                                <% else %>
                                    <%= category.name + ', ' %>
                                <% end %>
                            <% end %>
                        </td>
                    
    				<td><%= link_to "Editar", edit_product_path(product) %></td>
                    <td><%= link_to "Eliminar", product, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %></td>
    			</tr>







    			<% end %>
    			

    		</tbody>
    		








    	</table>

      
      
    </div>
  </div>
</div>

